.page{
    width: 100%;
}
.header{
    height: 80px ;
    background-color: #00480d;
    color: beige;
    justify-content: space-between;
    align-items: center;
    display: flex;
    font-size: 40px;
    margin:0px;
    font-family: Brush Script MT;
    padding-left: 350px;
    line-height: 20px;
}

.head{
    height: 20px ;
    background-color: #00480d;
    color: beige;
    justify-content: space-between;
    align-items: center;    
    display: flex;
    font-size: 40px;
    margin:0px;
    font-family: Brush Script MT;
    padding-left: 100px;
}

.navigation{
    width: 100%;
    height: 70px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    line-height: 70px;
    font-size: 15px;

}

.all{
    text-decoration: none;
    color: #908e24;
    font-size: 20px;  
    padding-right: 60px;
    padding-left: 30px;
    background-color: ;      
}

.reco{
    text-decoration: none;
    color: white;
    font-size: 20px;  
    padding-right: 60px;
    background-color: ;       
}

.uploaded{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding-right: 60px;
    background-color: ;    
}

.go{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding-right: 60px;
    background-color: ; 
    
      
}

.home{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding-right: 60px;
    background-color: ;   
    
}   


.container{
    display: flex;
}


.lefty{
    width: 33.33%;
    height: 250px;
    background-color: ;
    margin: 5px;
}

.floral{
    height: 200px;
    width: 90%;
    border-radius:8px;
    float:center;
    margin:0px; 
    padding-left: 15px;
}



.righty{
    width: 33.33%;
    height: 250px;
    background-color: ;
    margin: 5px;
}

.never_enough{
    height:200px;
    width: 90%;
    border-radius:8px;
    float:center;
    margin:0px; 
    padding-left: 15px;
}

.mid{
    width: 33.33%;
    height: 250px;
    background-color: ;
    margin: 5px;
}

.dino{
    height: 200px;
    width: 90%;
    border-radius:8px;
    float:center;
    margin:0px; 
    padding-left: 15px;
}

.container1{
    display: flex;
}


.lefty1{
    width: 33.33%;
    height: 250px;
    background-color: ;
    margin: 5px;
}

.a3{
    height: 250px;
    width: 90%;
    border-radius:8px;
    float:center;
    margin:0px; 
    padding-left: 15px;
}



.righty1{
    width: 33.33%;
    height: 250px;
    background-color: ;
    margin: 5px;
}

.a1{
    height:250px;
    width: 90%;
    border-radius:8px;
    float:center;
    margin:0px; 
    padding-left: 15px;
}

.mid1{
    width: 33.33%;
    height: 250px;
    background-color: ;
    margin: 5px;
}

.a2{
    height: 250px;
    width: 90%;
    border-radius:8px;
    float:center;
    margin:0px; 
    padding-left: 15px;
}

.container2{
    display: flex;
}


.lefty2{
    width: 33.33%;
    height: 250px;
    background-color: ;
    margin: 5px;
}

.a{
    height: 200px;
    width: 90%;
    border-radius:8px;
    float:center;
    margin:0px; 
    padding-left: 15px;
}



.righty2{
    width: 33.33%;
    height: 250px;
    background-color: ;
    margin: 5px;
}

.n{
    height:200px;
    width: 90%;
    border-radius:8px;
    float:center;
    margin:0px; 
    padding-left: 15px;
}

.mid2{
    width: 33.33%;
    height: 250px;
    background-color: ;
    margin: 5px;
}

.e{
    height: 200px;
    width: 90%;
    border-radius:8px;
    float:center;
    margin:0px; 
    padding-left: 15px;
}

.footer{
    height: 30px;
    width: 100%;
    background-color: #00480d;
    color:white;
    text-align: center;
    padding-top: 10px;
    margin: 0px;
    font-family: Geneva;
}


 






