.page{
    width: 100%;
}
.header{
    height: 90px ;
    background-color: #00480d;
    color: beige;
    justify-content: space-between;
    align-items: center;
    display: flex;
    font-size: 40px;
    margin:0px;
    font-family: Brush Script MT;
    padding-left: 10px;
}

.navigation{
    width: 55%;
    height: 100px;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    text-decoration: none;
    line-height: 110px;
    font-size: 15px;

}

.home{
    text-decoration: none;
    color: #908e24;
    font-size: 20px;  
    padding-right: 60px;
    
    
}

.about{
    text-decoration: none;
    color: white;
    font-size: 20px;  
    padding-right: 70px;
    
}

.contact{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding-right: 70px;
}


.login{
    height: 35px;
    width: 15%;
    background-color: #a3ec8a;
    border-color: #a3ec8a;
    border-radius: 15px;
}

.log{
    color:gray;
    font-size: 20px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
}

.left{
    width: 60%;
    height: 450px;
    background-color:;
}

.img3{
    height: 350px;
    width: 90%;
    border-radius:8px;
    float:center;
    margin:0px; 
    padding-left: 25px;
    padding-top: 20px;
}

.container2{
   display: flex;
}

.lefty, .righty{
    width: 30%;
    height: 30px;
}

.mid{
    width: 40%;
    height: 30px;
    
}

.press{
    height: 30px;
    width: 100%;
    background-color: #00480d;
    border-color: gray;
    border-radius: 15px;
    margin: 15px;
    
}

.start{   
    border-radius: 30px;
    align-items: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bolder;
    text-decoration: none;
    
}

.right{
    width: 40%;
    height: 450px;
    background-color: ;
}
 
.img1, .img2{
    height: 190px;
    width: 80%;
    padding-top: 20px;
    padding-left: 40px;
}
.footer{
    height: 30px;
    width: 100%;
    background-color: #00480d;
    color:white;
    text-align: center;
    padding-top: 10px;
    margin: 0px;
    font-family: Geneva;
}



